@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
    background-color: rgb(9 9 9);
}

section {
    @apply mb-4;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

section .cardHead, section .cardContent {
    padding: 0.5rem;
    background-color: #121212;
}

section .cardHead {
    @apply rounded-t-lg;
    background-color: #222222;
}

section .cardContent {
    @apply rounded-b-lg;
}

.pic {
    margin-top: -130px;
    z-index: 1
}

.pic img {
    @apply w-52;
    @apply h-auto;
    border: solid 5px rgba(255, 255, 255, 0.09);
}

#map-wrap {
    border-bottom: solid 1px rgba(255, 255, 255, 0.09);
    height: 20vh; 
    z-index:-1
}

footer {
    background-color: #121212;
    @apply w-full;
    @apply w-auto;
    border-top: solid 1px rgba(255, 255, 255, 0.09);
}


::-webkit-scrollbar {
    @apply w-2.5;
    @apply h-2.5;
}

::-webkit-scrollbar-track {
    background: #0e0e0e; 
}

::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 61); 
    @apply rounded;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(81, 81, 81); 
}